body {
  font-family: sans-serif;
  margin: 20px;
}
.container {
  display: flex;
  flex-direction: row;

}
.main-content {
  height : 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.main-content div {
  height: fit-content;
}
.blog-title {
  font-size: 2em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.home-link {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border: 1px solid #ccc;
  display: inline-block;
  margin-bottom: 10px;
}
.blog-text {
  width: 150px;
  height: 150px;
}
.drawing {
  text-align: center;
}
.drawing img {
  height: auto;
  max-width: 350px;
  object-fit: cover;
}
.sidebar {
  text-align: right;
  padding: 2px;
}
.ad img {
  width: auto;
  max-width: 155px;
  height: auto;
}
.blog-links {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.blog-links a {
  text-wrap: noWrap;
  display: block;
  margin-bottom: 5px;
  color: #333;
  text-decoration: none;
}

.hidden{
  padding-top:800px;
  position: fixed;
  right:0;
}

@media all and (max-width: 800px) {
  .drawing img {
    width: auto;
    height: auto;
    max-width: 150px;
    object-fit: cover;
  }
}
